@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #F2F2F7;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    /* 100% of the viewport height */
    max-height: 100vh;
    /* Enables vertical scrolling if content overflows */
    overflow-y: auto;
}

#sidebar {
    width: 30%;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #007AFF;
}

.sidebar-title {
    /* padding-top: 1.5rem; */
    padding: 2rem 1.625rem 0 1.625rem;
    display: flex;
    align-items: center;
}

.sidebar-title i {
    font-size: 2rem;
    margin-right: .75rem;
}

.sidebar-title span {
    /* margin-top: 1rem; */
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
}

/* #sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
} */

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

.sidebar-nav h1 {
    padding: .625rem 1.625rem;
    font-size: 1.2rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    display: flex;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

a.sidebar-link-sub {
    padding: .625rem 3.2rem;
}

.sidebar-link i {
    font-size: 1.5rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(131, 131, 131, 0.075);
    border-left: 3px solid #000000;
}

.sidebar-item {
    position: relative;
    margin: 1rem 0 1rem 0;
}

/* #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
} */

/* #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
} */

#sidebar .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-container .dropdown {
    padding: .625rem 1.625rem;
}

.nav-link {
    color: gray;
    /* Default color for unselected links */
}

.nav-link:hover {
    color: black;
    /* Color changes to black on hover */
}

#main-content {
    padding: 1.2rem 2rem;
}

#main-content .nav-underline {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

#main-content .nav-underline div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#main-content .nav-underline span {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

#main-content .nav-underline i {
    margin-right: .5rem;
}

.nav-item {
    margin-right: 2rem;
}

#sidebarDateBarChartTooltip {
    position: absolute;
    opacity: 0;
    background-color: white;
    border: solid 1px #000;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    font-size: .8rem;
}

#date {
    padding: 1rem 1.625rem;
}

#tags-container {
    padding: 0rem 1.625rem;
}

/* for filter tags */
.dynamic-tag {
    display: inline-block;
    padding: 5px 10px;
    /* Adjust padding as needed */
    margin: 5px;
    /* Adjust margin as needed */
    border-radius: 10px;
    /* Adjust for rounded corners */
    color: white;
    /* Text color */
    font-size: 0.9rem;
    /* Adjust font size as needed */
}

.sidebar-tag-selected {
    padding: .625rem 1.625rem;
    color: #000000;
    display: flex;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    background-color: #cecece;
    /* Replace #darker-color with the actual color */
}

#googleSignInButton {
    background-color: white;
    /* White background */
    border: 1px solid #ccc;
    /* Optional: light grey border */
    border-radius: 4px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Padding for a larger clickable area */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    font-size: 0.9rem;
    /* Set a font size */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#googleSignInButton i {
    font-size: 0.9rem;
    /* Set a font size */
    margin-right: .2rem;
}

#googleSignInButton:hover {
    background-color: #f9f9f9;
    /* Slightly darker background on hover */
}

.card {
    margin-bottom: 20px; /* 添加一些底部外边距以分隔卡片 */
    border-radius: 12px;
    border: 1px solid rgb(229, 229, 229);
}

.card-img-top {
    width: 100%; /* 使图片宽度适应卡片 */
    height: 150px; /* 设置图片高度，保持一致 */
    object-fit: cover; /* 保持图片比例，覆盖整个区域 */
    border-top-left-radius: 8px; /* 对应卡片的圆角 */
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px; /* 内边距 */
}

.card-title {
    margin-bottom: 15px; 
    font-size: 18px; 
    font-weight: 600; 
}

.card-text {
    font-size: 0.9rem;
}

.chat-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto; /* Pushes the input container to the bottom */
    width: 60%;
    position: fixed;
    bottom: 0;
    padding: 1.5rem;
}
.chatContainer {
    position: relative;
    /* Ensure chatContainer spans the full height if it doesn't already */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  
#chatInput {
    flex-grow: 1;
    /* margin-right: 10px; */
    padding: 10px;
    border: 1px solid #d1d1d1; /* 边框颜色 */
    border-radius: 10px 0 0 10px; /* 圆角边框 */
    outline: none; /* 去除焦点时的轮廓 */
}

#chatInput:focus {
    border-color: #424242; /* 焦点时边框颜色 */
}

#uploadButton {
    padding: 10px 20px;
    background-color: #323232; /* 蓝色背景 */
    color: white; /* 文字颜色 */
    border: none;
    border-radius: 0 10px 10px 0; /* 圆角边框 */
    cursor: pointer; /* 鼠标样式 */
}

#uploadButton:hover {
    background-color: #1b1b1b; /* 鼠标悬停时的背景颜色 */
}

.cardTag {
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    background-color: #3e3e3e; /* 蓝色背景 */
    color: #ffffff; /* 白色文字 */
    border-radius: 20px; /* 圆角 */
    font-size: 12px; /* 字体大小 */
  }
  
  .keywords-container {
    margin-top: 10px;
  }

  .chat-bubble {
    display: flex;
    align-items: center; /* Align items vertically */
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .chat-bubble i {
    font-size: 2rem; /* Or any size you prefer */
    margin-right: .5rem;
  }

  .spinner-grow {
    margin-right: 1rem;
  }

  .card-metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    opacity: .4;
  }

  .card-metadata p {
    margin-bottom: 0;
  }

  .card i {
    font-size: 2rem;
    background-color: #ffffff;
    padding: 0.4rem;
  }

  .card {
    position: relative;
  }
  
  .card .lni-star-empty {
    position: absolute;
    top: 0; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    z-index: 1; /* Ensures the icon appears above the image */
  }

  .card .lni-star-fill {
    position: absolute;
    top: 0; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    z-index: 1; /* Ensures the icon appears above the image */
  }